#code-page {
    height: 100%;
}

.grid {
    height: 100%;
}

.full-height {
    height: 100%;
}

.top-row {
    max-height: 75vh;
}

.bottom {
    height: 20vh;
    border-top: 1px solid;
}

.split {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height: 100%;
}

#code-container {
    overflow-x: hidden;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
