.testcase {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.PASSED {
    color: green;
}

.FAILED {
    color: red;
}

.SKIPPED {
    color: goldenrod;
}

#blank-testcase-message {
    text-align: center;
    margin-top:57px;
}

#testresults-container {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
}