* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#login {
    padding: 5%;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#login-container {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#login-buttons-container {
    display: flex;
    flex-direction: column;
}

#image-container {
    display: flex;
    justify-content: center;
}

#mu-cs-img {
    width: 100px;
}

.login-button {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    background-color: #4B7CF5;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

#card-container {
    border: 1px solid black;
}

#title {
    margin: 5px 0px 5px 5px;
}

/* Style the header */

.header {
    grid-area: header;
    background-color: #f1f1f1;
    text-align: left;
}

/* The grid container */

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'left middle middle middle middle right' 'footer footer footer footer footer footer';
}

.left, .middle, .right {
    padding: 10px;
}

/* Style the left column */

.left {
    grid-area: left;
}

/* Style the middle column */

.middle {
    grid-area: middle;
}

/* Style the right column */

.right {
    grid-area: right;
}

/* Style the footer */

.footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }
}