[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
pam = "*"
flask = "==1.1.2"
werkzeug = "==1.0.1"
flask-jwt-extended = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
sentry-sdk = "*"
pytest-mock = "*"
"tap.py" = {extras = ["yaml"], version = "*"}
mosspy = "*"
dependency-injector = "*"
simplejson = "*"
orjson = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
