[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
pam = "*"
flask = "*"
werkzeug = "*"
flask-jwt-extended = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
pytest-mock = "*"
"tap.py" = {extras = ["yaml"], version = "*"}
mosspy = "*"
dependency-injector = "*"
injector = "*"
cryptography = "*"
requests = "*"
aiopyston = "*"
openai = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.10"
