[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
pam = "*"
flask-injector = "*"
flask = "==1.1.2"
werkzeug = "==1.0.1"
flask-jwt-extended = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
